<div>
  <div class="boxed">
    <div class="container">
      <div class="tab">
        <span class="font-size:20px">
          <!-- Page Title -->
        </span>
        <span class="text-right" style="font-size:18px text-align:right;">
          <div class="dropdown-menus">
            <span class="dropdown">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">타입별</button>
              <div class="dropdown-menu">
                <%= link_to "유료", main_index_path(:type => "pay"), :class => "dropdown-item", remote: true %>
                <%= link_to "무료", main_index_path(:type => "free"), :class => "dropdown-item", remote: true %>
              </div>
            </span>
            <span class="dropdown">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">가격순</button>
              <div class="dropdown-menu">
                <%= link_to "높은순", main_index_path(:type => "price", :order => "high"), :class => "dropdown-item", remote: true %>
                <%= link_to "낮은순", main_index_path(:type => "price", :order => "low"), :class => "dropdown-item", remote: true %>
              </div>
            </span>
            <span class="dropdown">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">등록일</button>
              <div class="dropdown-menu">
                <%= link_to "최신순", main_index_path(:type => "date", :order => "recent"), :class => "dropdown-item", remote: true %>
                <%= link_to "지난순", main_index_path(:type => "date", :order => "before"), :class => "dropdown-item", remote: true %>
              </div>
            </span>
          </div>
        </span>
      </div>
      <br/>
      <div id="image-item-list">
        <%= render partial: "image_items/index" %>
      </div>
      <div id="purchase-modal">
        <%= render partial: "main/purchase" %>
      </div>
    </div>
  </div>
</div>

<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

<script type="text/javascript">
  $(".image_item_data").on("click", "#purchase_button", function(){
     imgtype = $(this).data("itemprice");
     if(imgtype > 0){
       $("#purchase_modal").show();
       $("#purchase-image").val($(this).data("itemtitle"));
       $("#purchase-imageid").val($(this).data("itemid"));
       $("#holding-amount").val("<%= current_user.chocomush %>")
       $("#purchase-amount").val($(this).data("itemprice"));
     }else {
       $("#purchase_modal").show();
     }
  })

  $("#close_button").on("click", function(){
    $("#purchase_modal").hide();
    $("#purchase-image").val('');
    $("#purchase-imageid").val('');
    $("#purchase-amount").val('');
  })

  $("#purchase_confirm_button").on("click", function(){
    var holdingAmount = $("#holding-amount").val();
    var purchaseAmount = $("#purchase-amount").val();
    purchaseAmount = parseInt(purchaseAmount);
    if(holdingAmount < purchaseAmount){
      alert("보유금액이 부족합니다.");
      var url = "/charge"
      $(location).attr('href', url);
    }else{
      $.ajax({
        type: "POST",
        url: "<%= orders_path %>",
        data: {chocomush: purchaseAmount,
               id: $("#purchase-imageid").val()},
        dataType: "json",
        beforeSend : function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
        },
        success: function (data) {
          console.log("success");
          $("#purchase_modal").hide();
          location.href = "/";
        },
        error : function(data){
          $("#search_error").show();
        }
      });
    }
  })
</script>
