<div class="container">
  <div class="row ">
    <div class="card col-md-6 offset-md-3 p-5 mt-5" style="border:2px solid warning;">
      <div class="panel-body">
        <div class="mar-ver pad-btm">
          <h1 class="h3">회원가입</h1>
          <hr>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-group">
          <dt><%= f.label :이름 %><br/></dt>
          <%= f.text_field :name, class: "form-control", autocomplete: "name" %>
        </div>

        <div class="form-group">
          <dt><%= f.label :email %><br/></dt>
          <%= f.email_field :email, class: "form-control", autofocus: false, autocomplete: "email" %>
        </div>

        <div class="form-group">
          <dt><%= f.label :password %><br/></dt>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
        </div>

        <div class="form-group">
          <dt><%= f.label :password_confirmation %><br/></dt>
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "회원가입", :class => 'btn btn-primary btn-block' %>
        </div>
        <hr>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
