<div class="container">
<% @image_items.each do |item| %>
  <div class="card mb-3" style="max-width: 800PX;">
    <div class="row no-gutters">
      <div class="col-md-2">
        <%= image_tag item.repimg.thumb.url, class: "card-img" unless item.repimg.url.nil? %>
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <% if @info_type != "paid" %>
            <h5 class="card-title"><%= item.title %></h5>
          <% end %>
          <p class="card-text"><%= item.description.html_safe %></p>
          <% if @info_type == "upload" %>
            <%= link_to '삭제', image_item_path(item), method: :delete, class: "btn btn-primary btn-sm" %>
          <% elsif @info_type == "paid" %>
            <%= link_to "다운로드", item.repimg.url, download: "ImageItem_#{item.id}_repimg", class: "btn btn-primary btn-sm" %>
          <% elsif @info_type == "cart" %>          
            <%= link_to '취소', toggle_set_line_item_image_item_path(item), method: :post, class: "btn btn-primary btn-sm" %>
          <% else %>
            <%= link_to "찜 해제하기", user_item_path(item.id), method: :delete, class: "btn btn-primary btn-sm" %>
            <%= link_to '장바구니에 담기', "", class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if @info_type == "cart" %>
  <%= link_to '구매하기', edit_order_path(current_user.orders.cart.first), class: "btn btn-primary btn-sm"%>
<% end %>
<div>
  <ul class="pagination">
    <%= paginate @image_items %>
  </ul>
</div>
</div>