
<% if !@image_items.empty? %>
  <% @image_items.each do |item| %>
    <div class="card mb-3" style="height:70%;">
      <div class="row no-gutters">
        <div class="col-md-2">
          <%= image_tag item.repimg.thumb.url.to_s, class: "card-img align-self-center mr-3", style: "width:70%;" %>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title"><%= item.title %></h5>
            <p class="card-text"><%= item.description.html_safe %></p>
            <% if @info_type == "upload" %>
              <%= link_to 'delete', image_item_path(item), method: :delete, data: {confirm: "정말로 삭제하시겠습니까?"}, class: "btn btn-outline-secondary btn-sm material-icons" %>
            <% elsif @info_type == "paid" %>
              <%= link_to "get_app", item.repimg.url, download: "ImageItem_#{item.id}_repimg", class: "btn btn-outline-secondary btn-sm material-icons" %> 
            <% elsif @info_type == "cart" %>          
              <%= link_to 'delete', toggle_set_line_item_image_item_path(item), method: :post, class: "btn btn-outline-secondary btn-sm material-icons" %>
            <% else %>
              <%= link_to "favorite", toggle_set_user_item_image_item_path(item), method: :post, class: "btn btn-outline-secondary btn-sm material-icons" %>
              <%= link_to 'add_shopping_cart', toggle_set_line_item_image_item_path(item), method: :post, class: "btn btn-outline-secondary btn-sm material-icons" unless current_user.has_item?(item, "cart_item") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if @info_type == "cart" %>
    <div class="card">
      <div class="card-body">
        <%= get_cart.order_summary %> = <%= money(get_cart.total) %><hr/>
         <%= link_to '결제하기', edit_order_path(current_user.orders.cart.first), class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 offset-md-3 p-5 mt-2">
        <i class="material-icons">info</i><br/>
        상품이 존재하지 않습니다.
      </div>
    </div>
  </div>
<% end %>

<div>
  <ul class="pagination justify-content-center">
    <%= paginate @image_items %>
  </ul>
</div>
