<div class="charge-container">
  <%= form_for current_user, url: user_path, method: :put do |f| %>
    <div class="">
      현재 잔액 : <%= current_user.chocomush %>
    </div>
    <div>
      <%= f.label :chocomush %><br/>
      <%= f.number_field :chocomush, id: "charge_mount", class: "form-control", placeholder: "charge amount" %>
    </div>
    <div class="actions">
      <%= f.submit " 충 전 ",id: :"charge-btn", class: 'btn btn-primary btn-block'%>
    </div>
  <% end %> 
  <br/>
</div>

<script type="text/javascript">
  $("document").ready(function(){
    $('#charge_mount').val('')
  })
</script>
<style>
  .charge-container {
    width: 30%;
    margin: 0 auto;
    text-align: center;
  }
</style>
