<header class="navbar navbar-expand-lg navbar-fixed-top myNavbar">
  <div class="container">
    <a class="navbar-brand navbarLogo" href="/">Image Store</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Show Image", root_path, class: "nav-link navbarText" %>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Mypage", mypage_user_path(current_user), class: "nav-link navbarText" %>
        </li>
        <li class="nav-item">
          <%= link_to "Charge Chocomush", edit_user_path(current_user), class: "nav-link navbarText" %>
        </li>
        <li class="nav-item">
          <%= link_to "Upload Image", new_image_item_path, class: "nav-link navbarText" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link navbarText" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link navbarText" %>
        </li>
      <% end %>
    </ul>
  </div>
</header>