<header class="navbar navbar-expand-lg navbar-fixed-top myNavbar">
  <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand navbarText" href="/"><h3>ImageMarket</h3></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to "Show Image", root_path, class: "nav-link navbarText" %> 
      </li>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Mypage", user_path(current_user), class: "nav-link navbarText" %>
        </li>
        <li class="nav-item">
          <%= link_to "Charge Chocomush", edit_user_path(current_user), class: "nav-link navbarText" %>
        </li>
        <li class="nav-item">
          <%= link_to "Upload Image", new_image_item_path, class: "nav-link navbarText" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link navbarText" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link navbarText" %>
        </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <%= form_tag request.parameters, method: :get do %>
          <div class="form-inline">
            <%= text_field_tag :q, params[:q], class: "form-control mr-sm-2", type: "search", placeholder: "Image" %>
            <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0"%>
          </div>
        <% end %>
    </form>
  </div>
  </div>
</header>