<div class="row">
  <% @image_items.each do |item| %>
    <div class="col-md-4 image_item_data" style="padding-top: 20px;">
      <div class="card">
        <div class="thumbnail" style="margin-top:10px">
          <h1 class="a" style="text-align:center;">
            <% if item.repimg %>
              <%= image_tag item.repimg.url ,style: 'width: 320px; height: 350px;' unless item.repimg.url.nil? %>
            <% else %>
              <i class="fas fa-camera-retro fa-border fa-3x fa-fw" style="font-size:250px;" aria-hidden="true"></i>
            <% end %>
          </h1>
        </div>
        <div class="card-body">
          <h5 class="card-title" style="text-align:center;">
            <% if item.price == 0 %>
              <a href="/image_items/<%= item.id %>"><%= item.title %></a><br/>(FREE)
            <% else %>
              <a href="/image_items/<%= item.id %>"><%= item.title %></a><br/>(<%= item.price %>$)
            <% end %>
          </h5>
          <hr/>
          <div style="text-align:center;">
              <a href="#" class="btn btn-primary" id="purchase_button" data-itemid="<%= item.id %>" data-itemtitle="<%= item.title %>" data-itemprice="<%= item.price %>">구매하기</a>
              <%= link_to "상세정보",  image_item_path(item.id), method: "GET", class: "btn btn-primary", id: "showItem" %>
              <% if user_signed_in? && UserItem.find_by(user_id: current_user.id, image_item_id: item.id).present? %>
                <%= link_to "찜해제", user_item_path(item.id), method: "DELETE", class: "btn btn-primary" %>
              <% else %>
                <%= link_to "찜하기", user_items_path(image_item_id: item.id), method: "POST", class: "btn btn-primary"  %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br/><br/>
<div>
  <ul class="pagination">
    <%= paginate @image_items %>
  </ul>
</div>
