<div class="row">
  <% @image_items.each do |item| %>
    <div class="col-md-4 image_item_data" style="padding-top: 20px;">
      <div class="card">
        <div class="thumbnail" style="margin-top:10px">
          <h1 class="a" style="text-align:center;">
            <%= image_tag item.repimg.url ,style: 'width: 320px; height: 350px;' unless item.repimg.thumb.url.nil? %>
          </h1>
        </div>
        <div class="card-body">
          <h5 class="card-title" style="text-align:center;">
            <%= item.title %>&nbsp;<span class="badge badge-info"><%= (item.price == 0 ) ? "Free" : money(item.price) %></span>
          </h5>
          <hr/>
          <div style="text-align:center;">
            <%= link_to "search", image_item_path(item), class: "btn btn-outline-secondary material-icons" %>
            <% if current_user %>
              <% if current_user.has_item?(item, "paid_item") %>
                <%= link_to "get_app", item.repimg.url, download: "ImageItem_#{item.id}_repimg", class: "btn btn-outline-secondary material-icons" %>
              <% else %>
                <%= link_to current_user.has_item?(item, "cart_item") ? "shopping_cart" : "add_shopping_cart",  toggle_set_line_item_image_item_path(item), method: :post, class: "btn btn-outline-secondary material-icons" %>
              <% end %>
              <%= link_to current_user.has_item?(item, "user_item") ? "favorite" : "favorite_border", toggle_set_user_item_image_item_path(item), method: :post, class: "btn btn-outline-secondary material-icons" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div><br/><br/>
<div>
  <ul class="pagination justify-content-center">
    <%= paginate @image_items %>
  </ul>
</div>
