<div class="boxed">
  <div class="container">
    <div class="tab">
      <span class="text-right" style="font-size:18px text-align:right;">
        <div class="dropdown-menus">
          <span class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">카테고리별</button>
              <div class="dropdown-menu">
                <% Category.all.each do |category| %>
                  <%= link_to category.title, image_items_path(category_id: category.id), class: "dropdown-item", remote: true %>
                <% end %>
              </div>
          </span>
          <span class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">타입별</button>
            <div class="dropdown-menu">
              <%= link_to "유료", image_items_path(type: "price >", order: "0"), class: "dropdown-item", remote: true %>
              <%= link_to "무료", image_items_path(type: "price is", order: "0"), class: "dropdown-item", remote: true %>
            </div>
          </span>
          <span class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">가격순</button>
            <div class="dropdown-menu">
              <%= link_to "높은순", image_items_path(type: "price", order: "desc"), class: "dropdown-item", remote: true %>
              <%= link_to "낮은순", image_items_path(type: "price", order: "asc"), class: "dropdown-item", remote: true %>
            </div>
          </span>
          <span class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">등록일</button>
            <div class="dropdown-menu">
              <%= link_to "최신순", image_items_path(type: "created_at", order: "desc"), class: "dropdown-item", remote: true %>
              <%= link_to "지난순", image_items_path(type: "created_at", order: "asc"), class: "dropdown-item", remote: true %>
            </div>
          </span>
        </div>
      </span>
    </div>
    <br/>
    <div id="image-item-list">
      <%= render partial: "image_items/image_items" %>
    </div>
  </div>
</div>
