<div class="container">
  <div class="row form-group">
    <div class="col-md-12">
      <%= form_for @image_item do |f| %>
      <div>
        <%= f.hidden_field :user_id, class: "form-control", value: current_user.id%>
        <%= f.label :ImageTitle %><br/>
        <%= f.text_field :title, class: "form-control", cols: "30", rows: "10", placeholder: "title" %>
      </div>
      <br/>
      <div id="image-price">
        <%= f.label :ImagePrice %><br/>
        <%= f.text_field :price, class: "form-control", cols: "30", rows: "10", placeholder: "price" %>
      </div>
      <br/>
      <div class="upload-preview">
        <img style: 'width: 200; height: 200;'/>
        <br/><br/>
        <%= f.file_field :repimg, class: "form-control file", cols: "30", rows: "10", placeholder: "Image" %>
      </div>
      <!--<input class="file" name="logo" type="file">-->
      <br/>
      <%= f.label :ImageDescription %><br/>
      <%= tinymce language:  "en" %>
      <%= f.text_area :description, class: "form-control tinymce", cols: "30", rows: "15", placeholder: "body" %>
      <br/>
      <div class="actions">
        <%= f.submit "등록", class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
    <br/>
  </div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  var preview = $(".upload-preview img");
  $(".file").change(function(event){
    var input = $(event.currentTarget);
    var file = input[0].files[0];
    var reader = new FileReader();
    reader.onload = function(e){
        image_base64 = e.target.result;
        preview.attr("src", image_base64);
        preview.attr("width", 150);
        preview.attr("height", 150);
        preview.attr("border", 3);
    };
    reader.readAsDataURL(file);
  });

});

</script>
