<div class="container">
  <div class="boxed">
    <div class="panel" id="user-section">
      <div class="panel pos-rel card">
        <div class="pad-all text-left" style="border:2px solid black; font-size: 11pt;">
          <table border="1" width="1100" height="150">
            <tr>
              <td width="20%" rowspan="3">
                <%= image_tag @image_item.repimg_url(:thumb) ,style: 'width: 320px; height: 300px;' unless @image_item.repimg.url.nil? %>
              </td>
              <td class="hidden-bottom tableContent">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb" style="background-color:white;">
                    <div class="row">
                      <li class="breadcrumb-item"><%= @image_item.category.title %></li>
                      <li class="breadcrumb-item active" aria-current="page"><strong><%= @image_item.title %></strong></li>
                      <li class="ml-2">
                        <% if current_user %>
                          <% if current_user.has_item?(@image_item, "paid_item") %>
                            <%= link_to "get_app", @image_item.repimg.url, download: "ImageItem_#{@image_item.id}_repimg", class: "btn btn-sm btn-outline-secondary material-icons" %>
                          <% else %>
                            <%= link_to current_user.has_item?(@image_item, "cart_item") ? "shopping_cart" : "add_shopping_cart",  toggle_set_line_item_image_item_path(@image_item), method: :post, class: "btn btn-sm btn-outline-secondary material-icons" %>
                          <% end %>
                          <%= link_to current_user.has_item?(@image_item, "user_item") ? "favorite" : "favorite_border", toggle_set_user_item_image_item_path(@image_item), method: :post, class: "btn  btn-sm btn-outline-secondary material-icons" %>
                        <% end %>
                      </li>
                    </div>
                  </ol>
                </nav>
              </td>
            </tr>
            <tr>
              <td class="tableContent">
                제품 가격: <%= money(@image_item.price) %>
              </td>
            </tr>
            <tr>
              <td class="tableContent"><%= @image_item.description.html_safe %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="row form-group">
      <div class="col-md-6">
        <%= form_for Review.new, method: :post do |f| %>
        <div>
          <%= f.label :리뷰작성 %><br/>
          <%= f.text_field :title, class: "form-control", placeholder: "title" %>
        </div>
        <br/>
        <div>
          <%= f.number_field :rate, class: "form-control", placeholder: "rate" %>
        </div>
        <br/>
        <%= f.hidden_field :reviewable_type, class: "form-control", value: 'ImageItem' %>
        <%= f.hidden_field :user_id, class: "form-control", value: current_user.id %>
        <%= f.hidden_field :reviewable_id, class: "form-control", value: @image_item.id %>
        <%= tinymce :language => "en" %>
        <%= f.text_area :body, class: "form-control tinymce", rows: "10", placeholder: "body" %>
        <br/>
        <div class="actions">
          <%= f.submit "등록", class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
      <br/>
    </div>
    <div class="col-md-6">
      <h6>등록된 리뷰</h6>
      <hr/>
      <%= render "reviews/index" %>
    </div>
  </div>
  <hr/>
</div>
