<div class="container">
  <div class="row">
    <div class="card col-md-6 offset-md-3 p-5 mt-5" style="border:2px solid warning;">
      <div class="panel-body">
        <div class="mar-ver pad-btm">
          <h1 class="h3">결제 페이지</h1><hr/><br/>
          <dt><h6>결제 목록 ( <%= @order.order_summary %>)</h6></dt>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">상품명</th>
                <th scope="col">금액</th>
                <th scope="col">유효기간</th>
              </tr>
            </thead>
            <tbody>
              <% @order.image_items.each do |item| %>
                <tr>
                  <td><%= item.title %></td>
                  <td><%= money(item.price) %></td>
                  <td>평생 소장</td>
                </tr>
              <% end %>
              <tr>
                <td>총계</td>
                <td><%= @order.total %></td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div><br/><br/>
        <dt><h6>결제 정보</h6></dt>
          <%= form_for(@order, method: :put) do |f| %>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th style="width:30%">보유금액</th>
                  <td><input class="form-control" type="text" placeholder="<%= current_user.chocomush %>" readonly><br/></td>
                </tr>
                <tr>
                  <th scope="row">결제금액</th>
                  <td><%= f.text_field :total, class: "form-control", placeholder: "total" %></td>
                </tr>
                <tr>
                  <th scope="row">결제 후 잔액</th>
                  <td><input class="form-control" type="text" placeholder="<%= @balance %>" readonly><br/></td>
                </tr>
                <tr>
                  <th scope="row">결제수단</th>
                  <td>
                    신용카드
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="actions">
              <%= f.submit "구입하기", class: 'btn btn-primary btn-block' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 $("#purchase_confirm_button").on("click", function(){
    var holdingAmount = $("#holding-amount").val();
    var purchaseAmount = $("#purchase-amount").val();
    purchaseAmount = parseInt(purchaseAmount);
    if(holdingAmount < purchaseAmount){
      alert("보유금액이 부족합니다.");
      var url = "/users/<%= current_user.id %>/edit"
      $(location).attr('href', url);
    }else{
      $.ajax({
        type: "POST",
        url: "<%= orders_path %>",
        data: {chocomush: purchaseAmount,
               id: $("#purchase-imageid").val()},
        dataType: "json",
        beforeSend : function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
        },
        success: function (data) {
          console.log("success");
          $("#purchase_modal").hide();
          location.href = "/";
        },
        error : function(data){
          $("#search_error").show();
        }
      });
    }
  })
</script>